
<div class="container-fluid bg-primary text-center pp">
    <div class="container-fluid">
    <a class="col-md-4 text-center"href="#">About</a>
    <a class="col-md-4 text-center"href="#">contact</a>
     <a class="col-md-4 text-center"href="#">Blog</a>
    </div>
 
</div>