            <div class="col-md-4  text-center"
                 <a class=""href="#">About</a>
            </div>
            <div class="col-md-4 text-center"
                 <a class=""href="#">Contact</a>
            </div>
            <div class="col-md-4  text-center"
                 <a class=""href="#">Blog</a>
            </div>
    
 
