<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="menu-toggle2">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" method="GET" action="/search/product">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <a href="/cart/product/checkout-page"style="background-image:url('/images/iconfinder_cart4_216460.png');background-size:100% 100%; background-position:0% 0%; background-repeat:no-repeat; margin-top:9px; position:relative; display:inline-block; width:50px;">
          {{#if cartcounter}}
              <span class="badge" style="position:absolute; top:0;right:0;">{{cartcounter}}</span>
          {{/if}}
         </a>
        </li>
        {{#if user}}
        <li><a href="/user/dashboard">Dashboard</a></li>
        <li><a href="/user/signout">Sign Out( {{user.username}} )</a></li>
        {{else}}
        <li><a href="/user/signin">Sign In</a></li>
        <li><a href="/user/registration">Create Account</a></li>
        {{/if}}
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
