<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/home.css"/>
    <link rel="stylesheet" href="styles/simple-sidebar.css"/>
    
    <title>{{title}}</title>
</head>
<body>
     {{{body}}}
         <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script>
         $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
     $("#menu-toggle2").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#myfile").on("change",function(e){
        console.dir(e.target.files[0].name);
         console.dir(e.target.files[0]);
        let filereader = new FileReader();
        filereader.onload = function(e){
            console.log(e)
          let image = new Image();
          image.onload=function(e){

              $("#imgcontainer").children().remove();
              $("#imgcontainer").append(e.target);
          }
          image.src = e.target.result;
          image.style.width ="100px";
          image.style.height ="100px";
        }
        filereader.readAsDataURL(e.target.files[0]);
    })

    </script>
</body>
</html>