<div class="flex-container rm-padding-lr">
    <div class="row header rm-margin-lr">
        {{>header2}}
    </div>
    <div class="row flex-content rm-margin-lr" style="margin-top:10px;">
        <div class="col-md-6 col-md-offset-3 ">
                <a class="btn btn-primary" href="/admin/category">Back To Category</a>
                <form action="/admin/add-category" method="POST">
                    <div class="form-group">
                        <label class="control-label"><b> Add A Category Name</b></label>
                        <div class="form-input">
                            <input type="text" name="name" placeholder="name of new category" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <div class="row flex-footer rm-margin-lr">
        {{>footer}}
    </div>
</div>