<div class="container-fluid">
    <div class="row">
        {{>header2}}
    </div>
    <div class="row">
        this is the body
    </div>
    <div class="row bg-primary bottom" style="bottom:0px; right:0px; width:100%; margin-left:0px;margin-right:0px;">
        {{>footer}}
    </div>

</div>