<div class="flex-container rm-padding-lr" >
    <div class="row flex-header rm-margin-lr" >
        {{>header2}}
    </div>
    <div class="row flex-content rm-margin-lr" >
        <div class="col-md-6 col-md-offset-3 ">
                <a class="btn btn-primary" href="/user/dashboard" style="margin-bottom:10px;">Back To Dashboard</a>
                <form action="/user/change-password" method="POST" id="pwd_form" onsubmit="return pwdchecker(event)">
                    <div class="form-group">
                        <label class="control-label"><b>Input Previous Password</b></label>
                        <div class="form-input">
                            <input type="password" name="prevpwd" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Input New Password</label>
                        <div class="form-input">
                            <input type="password" name="newpwd" class="form-control" id="newpwd"/>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <div class="form-input">
                            <input type="password" name="confirmpwd" class="form-control" id="confirmpwd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="error" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <div class="form-input">
                            <input type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <div class="row  flex-footer rm-margin-lr">
        {{>footer}}
    </div>
</div>
