<div class="container-fluid" style="height:100%; padding:0;">
    <div class="row header" style="margin:0;">
        <div class="col-sm-12" style="padding:0;">
                 {{>header2}}
        </div>
    </div>
    <div class="row content" style="margin:0;"  >
        <div class="col-sm-6 col-sm-offset-3" >
            <h2>Delete Users </h2>
            <p><a class="btn btn-primary" href="/user/dashboard">Back to Dashboard</a></p>
        <form action="/admin/delete-user" method="POST" id="delete-user-form">
            <div class="form-group">
                <label class="control-label">Input userName</label>
                <div class="form-input">
                    <input class="form-control" type="input" id="delete-username" name="name"/>
                </div>
            </div>
            <div class="form-group">
                 <div class="form-input">
                    <input class="btn btn-primary" type="submit"/>
                </div>
            </div>
        </form>
        <div id="delete-grabber">
        </div>
        </div>
    </div>
    <div class="row bg-primary footer"  style="width:100%; margin-left:0px;margin-right:0px;">
        <div class="col-sm-12 ">
            {{>footer}}
        </div>
    </div>

</div>