<div class="container-fluid fullheight" style="padding-left: 0px; padding-right:0px; overflow:auto;">
    <div class="row">
        <div class="col-md-12">
            {{>header2}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" >
            <h2><b>Your Investment</b></h2>
            {{#if yourinvestment}}
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Package Invested</th>
                            <th style="text-align:center;">Time</th>
                            <th style="text-align:center;">Time for Maturity</th>
                        </tr>
                    </thead>
                    <tbody>
                         {{#each yourinvestment}}
                            <tr>
                                <td>{{volume}}</td>
                                <td>{{time}}</td>
                                <td>still working on it</td>
                            </tr>
                         {{/each}}
                    </tbody>
                </table>
            {{else}}
            <div>you dont have any investment</div>
            {{/if }}
        </div>
              
    </div>
    
    <div class="row bg-primary text-center bottom"  style="bottom:0px; right:0px; width:100%; margin-left:0px;margin-right:0px;">
            {{>footer}}
    </div>
</div>

