<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-md-12 col-sm-12" style="margin-left:0px; margin-right:0px;">
            {{>header2}}
        </div>
    </div>
    <div class="row registration-height" style="margin-left:0px; margin-right:0px;">
        <div class="col-xs-offset-4 col-xs-4" style="margin-top:140px">
            <form class="form-horizontal" method="Post" action="/user/signin">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="form-group ">
                    <div class="col-md-offset-2 col-md-10"> <h3><b>Sign In</b></h3></div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="username" class="control-label">Username</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="username" id="username" placeholder="username">
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-md-2">
                        <label for="password" class="control-label">Password</label>
                    </div>
                    <div class="col-md-10">
                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row bg-primary bottom" style="bottom:0px; right:0px; width:100%; margin-left:0px;margin-right:0px;">
        <div class="col-sm-12">{{>footer}}</div>
    </div>
</div>