<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
                 {{>header2}}
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 registration-height">
            <h1>this is the body hurray</h1>
            <p><a class="btn btn-primary" href="/user/dashboard">Back to Dashboard</a></p>
        <form action="make-user-admin" method="POST" id="makeuser">
            <div class="form-group">
                <label class="control-label">Input userName</label>
                <div class="form-input">
                    <input class="form-control" type="input" id="makeuser-username" name="name"/>
                </div>
                <div class="form-input">
                    <input class="btn btn-primary" type="submit"/>
                </div>
            </div>
        </form>
        <div id="user-grabber">

        </div>
        </div>
    </div>
    <div class="row bg-primary">
        <div class="col-sm-12 ">
            {{>footer}}
        </div>
    </div>

</div>