 <div class="flex-container" style>
     <div class="row flex-header rm-margin-lr">
         {{>header2}}
     </div>
     <div class="row flex-content rm-margin-lr">
     <div class="col-md-offset-3 col-md-6 registration-height">
         <h1 class="text-center"><b>Register Users</b></h1>
         <form id="registration-form" method="POST" action="/user/registration" style="margin-bottom:10px;">
             <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text" id="name" placeholder="your name" class="form-control" name="name"/>
             </div>
              <div class="form-group">
                 <label for="surname">Surname</label>
                 <input type="text" id="surname" placeholder="your surname" class="form-control" name="surname"/>
             </div>
             <div class="form-group">
                 <label for="username">Username</label>
                 <input type="text" class="form-control" id="username" placeholder="username" name="username">
             </div>
              <div class="form-group">
                 <label for="email">Email</label>
                 <input type="email" id="email" placeholder="example@gmail.com" class="form-control" name="email"/>
             </div>
              <div class="form-group">
                 <label for="password">Password</label>
                 <input type="password" id="password" placeholder="your password" class="form-control" name="password"/>
             </div>
              <div class="form-group">
                 <label for="confirm-password">Confirm Password</label>
                 <input type="password" id="confirm-password" placeholder="confirm password" class="form-control"/>
             </div>
             <button class="btn btn-primary" type="submit">Submit</button>
         </form>
     </div>
 </div>
     <div class="row  flex-footer rm-margin-lr">
         {{>footer}}
     </div>
 </div>
 