
html{
 height:100%;
}
body{
    height:100%;
   }
div.pp{
   position: absolute;
   bottom: 0;
   width: 100%;
}
div.pp div{
    width: 70%;
}
a{
    color: white;
    font-weight: bold;

}
a:hover{
    text-decoration: none;
}
.navbar{
    margin-bottom:0;
}
.navbar-default{
    background-color:rgb(47, 133, 145);
    font-weight: bold;
    color: white;
}
.navbar-default .navbar-nav li a{
    color: white;
}
.navbar-default .navbar-brand{
    color:white;
}
.img-responsive{
    height:30px;
}
#wrapper{
    height:100%;
    
}
#wrapper #sidebar-wrapper{
    background-color:rgb(47, 133, 145);
}
#wrapper #sidebar-wrapper li a {
 color:white;
 transition:.25s all ease-in-out;
}
#wrapper #sidebar-wrapper li a:hover {
    background-color:rgb(19, 89, 99);
   }
#wrapper #page-content-wrapper{
    position:relative;
    height:100%;
    padding-left: 0;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
}
.fullheight{
    height:100%;
}
.force-overflow{
    overflow:auto;
}
.product-height{
    min-height:557px;
}
.edit-product-height{
    min-height:575px;
}
.home-height{
    height: 100%;
}

.thumbnail{
    height:30%;
}
.thumbnail>img{
    width:100%;
    height:100px;
}


.vcenter{
    vertical-align: middle;
}
.cc-img {
    margin: 0 auto;
}

.rm-padding-lr{
    padding-left:0;
    padding-right:0;
}
.rm-padding-tb{
    padding-top:0;
    padding-bottom:0;
}
.rm-margin-lr{
    margin-left:0 !important;
    margin-right: 0 !important;
}
.rm-margin-tb{
    margin-top:0;
    margin-bottom:0
}
.add-margin-top{
    margin-top:10px;
}
.add-margin-bottom{
    margin-top:10px;
}
.mk-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-center{
   justify-content: center;
}
.flex-container{
    height:100%;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
}
.flex-footer{
    margin-top:auto;
    background-color:black;
    color:white;
  
}
.flex-header{
  width:100%;

}
.flex-content{
    flex-basis:70%;
    margin-top:1%;
    flex-grow:1;
    flex-shrink:1;
}
.flex-center-ai{
    align-items: center;;
}
.flex-space-a{
  justify-content: space-around;
}
.detail-page-img{
    width:100%;
    height:200px;
}
.p-4{
    padding-left:4px !important;
    padding-right:4px !important;
}
thead,tbody,tfoot{
    width:100%
}


@media(max-width:770px){
    .product-height{
        min-height:570px;
    }
    .edit-product-height{
        min-height:585px;
    }
    .table{
        display:table;
        width:100%;
    }
    .table-overflow{
        overflow-x: auto;
    }
    .rm-border{
        border:none;
    }
    
  
}